@import url("https://use.typekit.net/awg2osu.css");
body {
  margin: 0;
  padding: 0;


  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: linear-gradient(orange -50%, #2130e4);
  font-size: 1em;
}

@media (max-width: 600px) {
  body {
    font-size: 75%;
  }

  .tag h1 {
    font-size: 4em;
  }
}

h1 {
  font-weight: 800;
  text-shadow: 0 3px 3px rgba(0, 0, 0, .5);
  font-size: 5em;
}

h2 {
  color: #ff9666;
  text-shadow: 0 0px 15px rgba(0, 0, 0, .5);
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#fff9db 48%, #fff59a 52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

ul {
  margin: 25px 0 50px;
}

ul li {
  font-size: 1em;
  display: flex;
  align-items: center;
  text-transform: lowercase;
  margin-bottom: 5px;
}

ul li i {
  margin-right: 10px;
  min-width: 30px;
  position: relative;
  top: 3px;
}

ul li a {
  position: relative;
}

ul.bullets li a:before {
  content: '•';
  top: .5px;
}

ul li a.active:before {
  content: '>';
  position: absolute;
  left: -25px;
  font-weight: 900;
  font-size: 14px;

  animation: arrow-pulse 1s ease-in-out infinite;
}


ul li a:before, ul li .fake-link:before {
  position: absolute;
  color: #81669e;
  left: -25px;
  top: 2.5px;
  font-weight: 900;
  font-size: 14px;
}


ul li .fake-link {
  position: relative;
  color: #fff59a;
}


a {
  color: #fff59a;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  line-height: 1.615em;
}

h3 {
  text-transform: lowercase;
  position: relative;
  padding-left: 20px;
}

h3:after {
  position: absolute;
  content: '> ';
  left: 0;
  color: #81669e;
  font-weight: 800;
}

@keyframes arrow-pulse {
  0% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(1px);
  }
}


.divider {
  width: 75%;
  margin: 25px 0;
  position: relative;
}

.divider::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 2px;
  width: 50%;
  background: linear-gradient(to right, transparent, #81669e);
  z-index: 123;
}

.divider::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 2px;
  width: 50%;
  background: linear-gradient(to left, transparent, #81669e);
  z-index: 123;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: tag-in 800ms ease-in-out;
  max-width: 550px;
  padding: 20px 25px;
}


@keyframes tag-in {
  0% {
    opacity: 0;
    top: -80px
  }

  60% {
    top: 25px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.tag h1 {
  margin-bottom: 0;
  margin-top: 25px;
}

.tag .avatar {
  position: relative;
  border-radius: 50%;
  #border: 2px solid rgba(166, 118, 91, 1);
  box-shadow: inset 0px 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
}

.tag .avatar img {
  width: 200px;
  position: relative;
  bottom: -5px;
  filter: drop-shadow(0px 14px 16px rgba(0,0,0,.4));
}

.progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  background: #81669e;
  padding: 3px;
}

.progress-bar .progress {
  background: linear-gradient(to right, #2f862f, #5ee45e);
  height: 100%;
  border-radius: 10px;
  transition: width 1s ease;
}


.muted {
  color: #796da7 !important;
}