.skills ul li.node a, .skills ul li.node a.active:before {
    color: #7dd88d;
}

.skills ul li.react a, .skills ul li.react a.active:before  {
    color: #95c8ff;
}

.skills ul li.sql a, .skills ul li.sql a.active:before {
    color: #00ceff;
}

.skills ul li.ui-ux a, .skills ul li.ui-ux a.active:before {
    color: #f48fff;
}

.skills ul li.analytics a, .skills ul li.analytics a.active:before {
    color: #f1b401;
}

